{% extends 'app/base.html' %}
<!-- {% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <title>ハッカソンvol2</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <header>
        <input class="button" type="button" onclick="location.href='signup.html'" value="新規登録" id="signup">
        <input class="button" type="button" onclick="location.href='login.html'" value="ログイン" id="login">
    </header>

    <h1>冷蔵庫の残り物からレシピ提案</h1>
    <h2>・残り物はなんですか？</h2>
    <h3>
        <input class="text" type="text" name="leftovers" placeholder="残り物を入力">
        <input class="button" type="submit" value="追加" id="addButton">
    </h3>


    <h2>・食材を追加</h2>
    <div>
        <h3>
            <input class="material" type="button" value="大根">
            <input class="material" type="button" value="人参">
            <input class="material" type="button" value="もやし">
            <input class="material" type="button" value="卵">
            <input class="material" type="button" value="豚肉">
            <input class="material" type="button" value="牛肉">
        </h3>
    </div>

    <h2>
        <input class="button" type="button" onclick="location.href='unLogin/sort.html'" value="次へ" id="goToSort">
    </h2>
    <script src="index.js"></script>
</body>


</html> -->


{% block content %}
    <!-- <header>
        <input class="button" type="button" onclick="location.href='signup/'" value="新規登録" id="signup">
        <input class="button" type="button" onclick="location.href='login/'" value="ログイン" id="login">
    </header> -->
    {% if user.is_authenticated %}
        <p>{{ user.get_username }}でログイン中  
            <a class="button" href= "{% url 'logout' %}">ログアウト</a></p>
    {% else %}
        <a class="button" href="{% url 'signup' %}">新規登録</a>  
        <a class="button" href="{% url 'login' %}">ログイン</a>
    {% endif %}

    <h1>冷蔵庫の残り物からレシピ提案</h1>
    <h2>・残り物はなんですか？</h2>
    <h3>
        <input class="text" type="text" name="leftovers" placeholder="残り物を入力">
        <input class="button" type="submit" value="追加" id="addButton">
    </h3>


    <h2>・食材を追加</h2>
    <div>
        <h3>
            <input class="material" type="button" value="大根">
            <input class="material" type="button" value="人参">
            <input class="material" type="button" value="もやし">
            <input class="material" type="button" value="卵">
            <input class="material" type="button" value="豚肉">
            <input class="material" type="button" value="牛肉">
        </h3>
    </div>

    <h2>
        <input class="button" type="button" onclick="location.href='unLogin/sort.html'" value="次へ" id="goToSort">
    </h2>
    <script src="index.js"></script>
{% endblock %}